html, body{
	margin: 0px;
	padding: 0px;
	background: white;
	font-family: 'Avenir';
}
p{
	-webkit-user-select: none;
}

.body_overlay{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0, 0, 0, .65);
	z-index: 999;
	overflow: hidden;
	display: none;
}

.header{
	position: relative;
	width: 100%;
	height: 280px;
	background: white;
	border-top: 4px solid #B9975B;
	border-bottom: 4px solid #B9975B;
}


.header_top{
	position: relative;
	width: 990px;
	height: 210px;
	margin: 0 auto;
	overflow: hidden;
}
.footer_limiter{
	position: relative;
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 100;
}
.search_bar{
	position: absolute;
	right: 0px;
	top: 10px;
}
#search{
	width: 200px;
	height: 33px;
	padding: 0 12px;
	float: left;
	color: #115740;
	font-size: 16px;
	border: 1px solid #b3b3b3;
	background-color: #ffffff;
	vertical-align: middle;
	outline: none;
}
#search_icon{
	height: 33px;
	width: 40px;
	background: green;
	position: relative;
	float: right;
	margin: 0px 10px;
}
.main_logo{
	display: block;
	width: 300px;
	margin: 0 auto;
	height: 170px;
	background: url(../img/header.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 35px;
}
.banner{
	position: absolute;
	left: 60px;
	top: 0px;
	width: 120px;
	height: 150px;
	background: url(../img/banner.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s;
	transform: translate3d(0, -10px, 0);
}
.banner:hover{
	transform: translate3d(0, 0, 0);
}
.navbar{
	position: absolute;
	background: linear-gradient(to right, #115740 32%, #277763 50%, #115740 68%);
	width: 100%;
	height: 70px;
	border-bottom: 4px solid #B9975B;
}
.navbar ul{
	margin: 0 auto;
	position: relative;
	white-space: nowrap;
	width: 1100px;
}
.navbar ul a:first-child{
	margin-left: 150px;
}
.navbar ul li{
	display: inline-block;
	margin: 0px;
	padding: 25px 20px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.5px;
	cursor: pointer;
	margin-left: -5px;
	outline: none;
	border: 0px;
}
.navbar ul li:hover{
	background: #163029;
}
.active{
	background: #163029;
}


#login{
	position: absolute;
	right: 10px;
	cursor: pointer;
	display: none;
}
#login_modal{
	position: fixed;
	width: 320px;
	height: 400px;
	background: white;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -200px;
	z-index: 9999;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	display: none;
	animation-name: zoom;
	animation-duration: 0.5s;
}
#login_modal .header_holder{
	position: relative;
	width: 100%;
	height: 180px;
	margin-bottom: 10px;
}
#login_modal .banner{
	left: 10px;
}
#login_modal h2{
	font-weight: 500;
	color: seagreen;
	width: 200px;
	float: right;
	text-align: center;
	margin-top: 30px;
}
#login_modal input{
	position: relative;
	width: calc(100% - 60px);
	margin: 15px 30px;
	border: 0px;
	outline: none;
	border-bottom: 1px solid seagreen;
	padding: 5px 5px;
	font-size: 16px;
}
#login_modal button{
	margin-top: 30px;
	font-size: 16px;
	border-radius: 5px;
	background: seagreen;
	color: white;
	padding: 5px 15px;
	line-height: 20px;
	font-weight: 500;
	border: 0px;
	cursor: pointer;
}



.image_slider{
	position: relative;
	width: 100%;
	height: 700px;
	background: grey;
	overflow: hidden;
	z-index: 100;
}
.image_slider #main_flexslider{
	border: 0px;
}
#main_flexslider .slides div{
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider_scoop{
	position: absolute;
	width: 100%;
	height: 120px;
	background: url(../img/slider_scoop.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0px;
}
.flex-prev, .flex-next{
	margin-top: -10px !important;
}



.main_content{
	position: relative;
	width: 1000px;
	min-height: 480px;
	z-index: 99;
	margin: 0px auto;
	margin-bottom: 10px;
}
.main_content .middle{
	position: relative;
	margin: 0px auto;
	width: 350px;
	padding: 50px 50px;
	background: white;
	box-shadow: 0 0px 0px 0px white, 0 2px 0px 0px white, 6px 0 8px -4px rgba(0, 0, 0, 0.4), -6px 0 8px -4px rgba(0, 0, 0, 0.4);
}
.middle_header{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 32px;
	color: green;
	font-weight: 500;
	font-family: 'Avenir';
	letter-spacing: 1px;
}
.imagebox_big{
	position: relative;
	width: 100%;
	height: 250px;
	background: grey;
	margin: 0px auto;
	margin-top: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index:149;
}
.imagebox_big_header{
	text-align: left;
	width: 100%;
	font-size: 20px;
	padding: 10px 0px 5px 0px;
	color: green;
	font-weight: 500;
}
.imagebox_big_content{
	text-align: left;
	width: 100%;
	font-size: 14px;
	color: green;
	font-family: 'Avenir';
	font-weight: 300;
}
.middle_slider{
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: 50px;
}

.middle_slider #middle_flexslider{
	margin-top: 0px;
}
.middle_slider #middle_flexslider .slides li img{
	height: 150px;
	background-size: contain !important;
	object-fit: cover;
}


.main_content .left{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 230px;
	padding: 50px 0px 50px 0px;
	height: calc(100% - 150px);
}
.left_right_header{
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #B9975B;
	font-weight: 500;
}
.left_right_header.slider{
	margin: 10px 0px;
}
.left_slider{
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 20px;
}
.event_holder{
	position: relative;
	width: 100%;
	margin: 10px 0px;
	height: 100px;
}
.event_holder .date{
	position: relative;
	font-size: 26px;
	width: 60px;
	height: 85px;
	float: left;
	margin: 0px;
	padding: 0px 5px;
	text-align: center;
	line-height: 30px;
	margin-top: 15px;
}
.event_side_header{
	position: relative;
	background: white;
	border-left: 7px solid grey;
	float: right;
	width: 120px;
	height: 80px;
	font-size: 14px;
	line-height: 14px;
	margin: 0px;
	padding: 5px 10px;
	text-overflow: ellipsis;
}



.main_content .right{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 230px;
	padding: 50px 0px 50px 0px;
	height: calc(100% - 150px);
}
.imagebox_small{
	position: relative;
	width: 100%;
	height: 150px;
	background: grey;
	margin-top: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.right_slider{
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: 50px;
}
.flex-caption{
	font-size: 14px;
	color: green;
	font-family: 'Avenir';
	font-weight: 500;
}

.right_slider .flex-control-nav.flex-control-paging{
	bottom: 0px;
}



.footer{
	position: relative;
	width: 100%;
	border-top: 3px solid #B9975B;
	z-index: 100;
	background: #115740 url(../img/csea.png) no-repeat center;
	background-size: 20%;
}
.footer_container{
	width: 200px;
	height: 160px;
	margin: 0px auto;
	margin-top: 60px;
	position: relative;
}
.footer_left_links{
	position: absolute;
	width: 100%;
	left: -300px;
	top: 0px;
}
.footer_middle_links{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
}
.footer_right_links{
	position: absolute;
	width: 100%;
	right: -300px;
	top: 0px;
}
.footer_container ul{
	list-style: none;
	font-size: 16px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 36px;
}
.footer_container ul a{
	text-decoration: none;
	color: #fff;
}
.footer .middle_header{
	color: white;
	font-size: 30px;
	padding: 20px 0px 10px 0px;
	letter-spacing: 5px;
	font-weight: 300;
}
.footer .imagebox_big_content{
	color: white;
	font-size: 16px;
	text-align: center;
	font-family: 'Avenir';
	font-weight: 300;
}
.footer .left_right_header{
	font-size: 16px;
	padding: 5px 0px;
	letter-spacing: 2px;
}




.holder{
	display: none;
}
.selected{
	display: block;
}
.selected_link{
	color: seagreen !important;
	font-size: 22px;
	transform: translate3d(0, 0, 0);
}


/*Animation Overlay*/

#animation_overlay{
	position: fixed;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	background: white;
	overflow: hidden;
	-webkit-scrollbar: none;
}


#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#launch{
	position: relative;
	background: red;
	color: white;
	font-size: 30px;
	border: 0px;
	box-shadow: 3px 3px 3px grey;
	border: 1px solid #333;
	padding: 5px 20px;
	width: 260px;
	margin: 0px auto;
	text-align: center;
	border-radius: 25px;
	margin-top: 45vh;
	cursor: pointer;
}


/*Others to be deleted later......*/


#middle_flexslider ul.flex-direction-nav{
	display: none;
}


.footer_overlay{
	background:linear-gradient(to right, #115740 32%, #277763 50%, #115740 68%);
	width:100%;
	height:427px;
	position:absolute;
}
.footer_overlay_strict{
	width: 962px;
	margin: auto 0px !important;
}
.close_overlay{
	position:absolute;
	background-image: url(../img/cd-icon-close.svg);
	background-position: center;
	background-repeat: no-repeat;
	height:30px;
	width:30px;
	top:40px;
	right:40px;
}
.fadein, .fadeout {
    opacity:0;
		z-index:99;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
		z-index:101;
    opacity: 1;
		-moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
	
#credits_middle{
	margin-top: 60px;
	color:white;
}

.imagebox_big:hover{
	cursor: pointer;
}
